{% extends 'base.html' %} 
{% block title %}Create Post Page{% endblock %} 
{% block content %}
<h1 align="center" style="padding-top: 20px">Make a Post</h1>
<form method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <h3 for="content">Content:</h3>
        <textarea
            id="summernote"
            name="content"
            class="form-control"
        ></textarea>

        <h3 for="inputFile">Upload Image:</h3>
        <input
            class="form-control-file"
            name="image"
            id="image"
            type="file"
            accept=".png,.jpg,.jpeg"
        />
        <br />
        
        <div align="center">
            <button type="submit" class="btn btn-primary btn-lg">Post</button>
            <a href="/home">
                <button type="button" class="btn btn-secondary btn-lg">Back</button>
            </a>
        </div>
    </div>
</form>

<!-- Summernote script -->
<script>
    $(document).ready(function () {
        $("#summernote").summernote({
            height: 300,
            placeholder: "What do you want to talk about?",
            toolbar: [
                ["style", ["bold", "italic", "underline", "clear"]],
                ["font", ["fontname", "fontsize", "forecolor", "backcolor"]],
                ["para", ["style", "ul", "ol", "paragraph"]],
                ["insert", ["link", "video", "table", "hr"]]
            ],
        });
    });
</script>
{% endblock %}
